<%= form_with(model: walk, local: true) do |form| %>
  <% if walk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(walk.errors.count, "error") %> prohibited this walk from being saved:</h2>

      <ul>
        <% walk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time_of_walk %>
    <%= form.time_select :time_of_walk %>
  </div>

  <div class="field">
    <%= form.label :walk_time_length %>
    <%= form.number_field :walk_time_length %>
  </div>

  <div class="field">
    <%= form.label :pee %>
    <%= form.check_box :pee %>
  </div>

  <div class="field">
    <%= form.label :pee_count %>
    <%= form.number_field :pee_count %>
  </div>

  <div class="field">
    <%= form.label :poop %>
    <%= form.check_box :poop %>
  </div>

  <div class="field">
    <%= form.label :poop_count %>
    <%= form.number_field :poop_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
